@import '../../vars.module.css';

.registrationForm {
  margin: 0 auto;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.38);
  padding: 20px 10px;
}

.registrationForm fieldset,
.formElement {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.registrationForm legend {
  text-align: center;
  color: var(--color-subheading);
  margin-bottom: 20px;
  font-weight: bold;
}

.formElement {
  margin-bottom: 10px;
}

.formElement input {
  border-radius: 3px;
  height: 30px;
  padding: 3px 5px;
}

.formElement label {
  margin-bottom: 5px;
}

.submit {
  display: block;
  width: 50%;
  max-width: 150px;
  height: 40px;
  padding: 10px;
  margin: 0 auto;
  background-color: #23f84f;
  border-radius: 5px;
  color: black;
  margin-bottom: 20px;
}

.registrationForm:last-child {
  font-size: 0.8em;
}

.registrationForm a {
  color: var(--color-subheading);
}
