@import '../../vars.module.css';

.error,
.postError {
  color: red;
  text-align: left;
  font-size: 0.8em;
}

.postError {
  margin: 0 auto 10px auto;
  width: 90%;
}

.registrationForm {
  margin: 0 auto;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.38);
  border-radius: 6px;
  padding: 20px 10px;
}

.registrationForm fieldset,
.formElement {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.registrationForm legend {
  text-align: center;
  color: var(--color-subheading);
  margin-bottom: 20px;
  font-weight: bold;
}

.formElement {
  margin-bottom: 10px;
}

.formElement input {
  border-radius: 3px;
  height: 30px;
  padding: 3px 5px;
}

.formElement label {
  margin-bottom: 5px;
}

.submit {
  display: block;
  width: 50%;
  max-width: 150px;
  height: 40px;
  padding: 10px;
  margin: 0 auto;
  background-color: #23f84f;
  border-radius: 5px;
  color: black;
  margin-bottom: 20px;
}

.loginTag {
  color: var(--color-subheading);
  font-size: 0.8em;
  text-align: center;
}

.loginTag a {
  color: white;
}

/* tablet styles */

/* Desktop Styles */

@media screen and (min-width: 800px) {
  .registrationForm {
    width: 80%;
  }
}
