@import '../../vars.module.css';

.navBar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: var(--card-accent);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 75px;
}

.logo img {
  flex-shrink: 0;
  height: 170%;
  width: 100%;
}
