@import '../../vars.module.css';

.BookmarksList {
  padding: 0 10px;
  margin: 0 auto;
}

.control {
  margin-bottom: 25px;
  justify-self: flex-start;
  align-self: flex-start;
}

@media screen and (min-width: 450px) {
  .BookmarksList {
    width: 60%;
    margin: 0 auto;
  }

  .control {
    width: 40%;
    min-width: 160px;
  }
}

@media screen and (min-width: 800px) {
  .BookmarksList {
    width: fit-content;
    margin: 0 auto;
  }
}
