@import './vars.module.css';
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

a:visited,
a {
  color: inherit;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
}

.App {
  font-family: var(--main-font);
  width: 100%;
  padding: 100px 5px 150px 5px;
  margin: 0 auto;
  color: var(--color-secondary);
  border-radius: 6px;
}

h1,
h2,
h3,
h4 {
  color: var(--color-tertiary);
}
header:first-child {
  color: #68cffa;
}

/* global formatting for form elements */

@media screen and (min-width: 450px) {
  .App {
    top: 100px;
    width: 90%;
  }
}

@media screen and (min-width: 800px) {
  .App {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    width: 80%;
    /* Might make the min width smaller */
    min-width: 800px;
    margin: 0 auto;
  }
}
