@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

:root {
  --color-primary: rgba(0, 0, 0, 0.7);
  --color-secondary: #23a840;
  --color-tertiary: rgb(230, 0, 125);
  --color-subheading: #68cffa;
  --border-color: #fff;
  --card-color: #252525;
  --card-accent: #404140;
  --main-font: 'Source Code Pro', monospace;
}

/* 
.add-button {
  position: inherit;
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 25px auto;
  flex-direction: row;
  align-items: center;
}

.plusButton {
  grid-column-start: 2;
  grid-row-start: 2;
}

.add-button > svg {
  margin: auto 0;
}
} */

/* 
.add-button {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: 23a840;
  font-size: 3.5em;
  position: fixed;
  bottom: 15%;
  right: 10%;
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  100% {
    color: #23f84f;
    background-color: rgba(255, 255, 255, 0.3);
    transition: ease-in;
    transform: scale(1.2);
  }
} */
